#app-header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.app-header-title {
  font-size: 30px;
  text-transform: lowercase;
}

.app-header-menu-item {
  text-transform: lowercase;
}

.app-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .app-container {
    width: 100%;
  }
}

.post-content img {
  width: 80%;
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
